{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="assets/"
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Data Banjar 1</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/icons/unicons/dashboard-apps.png' %}" />

    <meta name="description" content="" />

    <!-- PLUGIN CSS -->
    <link rel="icon" type="image/x-icon" href="ISILOGOMU" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />
    <link href="{%static 'assets/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- PLUGIN JS UNTUK TAMPILAN -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">



            <!-- Menu dan Logo Pojok Kiri dan Navbar -->
            {% include 'accounts/1_side_bar.html' %}
            <!-- Menu dan Logo Pojok Kiri dan Navbar -->


            <!-- Layout container -->
            <div class="layout-page">

                {% include 'accounts/1_navbar.html' %}


                <!-- Content dan Menu -->
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h2 style="text-align: center;" class="m-0 font-weight-bold text-success">Form Tambah Data</h2><br>
                        {% load widget_tweaks %} 
                        <form action="" method="post">
                        {% csrf_token %}
                            <div class="row">
                            <!-- FORM KIRI -->
                                <div class="col-lg">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Nama</label>
                                                {% render_field form.nama class="form-control" placeholder="Nama Lengkap" type="text" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Jenis Kelamin</label>
                                                {% render_field form.jk class="form-control" placeholder="Jenis Kelamin" type="text" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Tanggal Lahir</label>
                                                {% render_field form.tangga_lahir class="form-control" placeholder="Jenis Kelamin" type="date" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Desa</label>
                                                {% render_field form.desa class="form-control" placeholder="Desa" type="text" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Posyandu</label>
                                                {% render_field form.posyandu class="form-control" placeholder="Posyandu" type="text" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Alamat</label>
                                                {% render_field form.alamat class="form-control" placeholder="Alamat" type="text" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Status Keluarga Kurang Mampu</label>
                                                {% render_field form.status_KM class="form-control" placeholder="Status Kurang Mampu" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FORM KANAN -->
                                <div class="col-lg">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Usia Ukur</label>
                                                {% render_field form.usia_ukur class="form-control" placeholder="Usia Ukur" type="number" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Berat Badan</label>
                                                {% render_field form.bb class="form-control" placeholder="Berat Badan" type="number" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Tinggi Badan</label>
                                                {% render_field form.tb class="form-control" placeholder="Tinggi Badan" type="number" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">BB/U</label>
                                                {% render_field form.bb_u class="form-control" placeholder="Berat Badan Per Umur" type="text" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">TB/U</label>
                                                {% render_field form.tb_u class="form-control" placeholder="#" type="text" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">BB/TB</label>
                                                {% render_field form.bb_tb class="form-control" placeholder="#" type="text" %}
                                            </div>
                                            <div class="col mb-3">
                                                <label for="nameWithTitle" class="form-label">Kategori Stunting</label>
                                                {% render_field form.stunting class="form-control" placeholder="#" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-lg-2 mx-auto">
                                <input value="Update" type="submit" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalTop"></input>
                                <a class="btn btn-outline-secondary" href="{% url 'database-page-br-1' %}">Kembali</a>
                            </div>
                        </form>
                    </div>
                    <footer class="content-footer footer bg-footer-theme">
                        <div
                            class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                , made with 🚀 by
                                <a href="#" target="_blank" class="footer-link fw-bolder">Dodik Sukma</a>
                            </div>
                        </div>
                    </footer>
                    <!-- / Footer -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content dan Menu -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->



    <!-- JS PLUGIN -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Page level plugins -->
    <script src="{% static 'assets/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable 
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
</body>

</html>