{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="assets/"
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Data Training</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/icons/unicons/dashboard-apps.png' %}" />

    <meta name="description" content="" />

    <!-- PLUGIN CSS -->
    <link rel="icon" type="image/x-icon" href="ISILOGOMU" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />
    <link href="{%static 'assets/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- PLUGIN JS UNTUK TAMPILAN -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">



            <!-- Menu dan Logo Pojok Kiri dan Navbar -->
            {% include 'accounts/1_side_bar.html' %}
            <!-- Menu dan Logo Pojok Kiri dan Navbar -->


            <!-- Layout container -->
            <div class="layout-page">

                {% include 'accounts/1_navbar.html' %}


                <!-- Content dan Menu -->
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        
                        <!-- KONTEN JUDUL -->
                        <div class="row">
                            <div class="col-lg-12 mb-0 order-0">
                                <div class="card">
                                    <div class="d-flex align-items-end row">
                                        <div class="col-sm-7">
                                            <div class="card-body">
                                                <h5 class="card-title text-primary">Stunting Pada Baita</h5>
                                                <a href="{% url 'stunting-info' %}" class="btn btn-sm btn-outline-primary">Lihat</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 text-center text-sm-left">
                                            <div class="card-body pb-0 px-0 px-md-4">
                                                <img src="{% static 'assets/img/illustrations/kids.png' %}" height="140"
                                                    alt="View Badge User"
                                                    data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                                    data-app-light-img="illustrations/kids.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Database -->
                        <div class="row">
                            <!-- Basic Layout -->
                            <div class="col-xxl">
                                <div class="card mb-4 mt-3">
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-success">Database Data Training</h6>
                                        <a href="{% url 'data-training-add-page' %}" class="btn btn-success"><i class="bx bx-plus"></i> Tambah Data </a>
                                    </div>
                                    <div class="table-responsive p-3">
                                        <table class="table align-items-center table-flush table-hover"
                                            id="dataTableHover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Id</th>
                                                    <th>JK</th>      
                                                    <th>KK_KM</th>
                                                    <th>Usia_Ukur</th>
                                                    <th>BB/U</th>
                                                    <th>TB/U</th>
                                                    <th>BB/TB</th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>JK</th>      
                                                    <th>KK_KM</th>
                                                    <th>Usia_Ukur</th>
                                                    <th>BB/U</th>
                                                    <th>TB/U</th>
                                                    <th>BB/TB</th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for data_training in data_training_fix %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{data_training.jk}}</td>
                                                    <td>{{data_training.status_KM}}</td>
                                                    <td>{{data_training.usia_ukur}}</td>
                                                    <td>{{data_training.bb_u}}</td>
                                                    <td>{{data_training.tb_u}}</td>
                                                    <td>{{data_training.bb_tb}}</td>
                                                    <td>{{data_training.stunting}}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                              <i class="bx bx-dots-vertical-rounded"></i>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                              <a class="dropdown-item" href="{% url 'data-training-edit-page' data_training.id %}"><i class="bx bx-edit-alt me-1"></i> Update</a>
                                                              <a class="dropdown-item" onclick="elementdata_train({{data_training.id}})" href="#"><i class="bx bx-trash me-1"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div
                            class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                , made with 🚀 by
                                <a href="#" target="_blank" class="footer-link fw-bolder">Dodik Sukma</a>
                            </div>
                        </div>
                    </footer>
                    <!-- / Footer -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content dan Menu -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->



    <!-- JS PLUGIN -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Page level plugins -->
    <script src="{% static 'assets/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable 
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}

    {% for m in messages %}

    <script>
        Swal.fire({
            'title': '',
            'text': '{{m}}',
            'icon': 'success',
        })
    </script>

    {% endfor %}


{% endif %}

{% for data_training in data_training_fix %}
<script>
    function elementdata_train(id){
        Swal.fire({
            'title': 'Hapus Data',
            'text': 'Aapakah anda ingin menghapus data ini ?',
            'icon': 'question',
            'showCancelButton': true,
            'confirmButtonColor': '#dc3545',
            'confirmButtonText': 'Hapus',
            'reverseButtons':true,
            'cancelButtonText': 'Batal',

        })
        .then(function(result){
            if (result.isConfirmed) {
                window.location.href = "data_training_delete/"+id
                }
            })
        }
        
</script>
{% endfor %}
</body>

</html>